TAVILY_API_KEY=YOUR_API_KEY
ANTHROPIC_API_KEY=YOUR_API_KEY
OPENAI_API_KEY=YOUR_API_KEY

CUSTOM_API_HOST=YOUR_API_HOST
CUSTOM_REFRESH_TOKEN=YOUR_REFRESH
CUSTOM_API_TOKEN=YOUR_API_TOKEN
OPENAI_API_BASE_URL=https://api.openai.com
MODEL_PROVIDER=YOUR_MODEL
MODEL_NAME=gpt-4o